<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header header">
			<h1>
				Welcome to the Garage
			</h1>

		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="name"><img *ngIf="(user | async)?.uid" class="userimg" src="{{(user | async)?.photoURL}}" /> {{(user | async)?.displayName}}</li>
				<li><a href="#" (click)="LoginModal.open()" *ngIf="!(user | async)?.uid">Login</a></li>
				<!--<button type="button" class="btn btn-default" (click)="LoginModal.open()">test</button>-->
				<li><a href="#" (click)="Logout()" *ngIf="(user | async)?.uid">Logout</a></li>

			</ul>
		</div>


		<!--/.nav-collapse -->
	</div>

</nav>

<form *ngIf="(user | async)?.uid" class=" form-horizontal">
	<div class="form-group">
		<label class="col-lg-2 control-label" for="inputVehicle">Enter Vehicle</label>
		<div class="col-lg-6">
			<input class="form-control" id="inputVehicle" type="text" placeholder="Vehicle" #vehicleName>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-10 col-lg-offset-2">
			<button class="btn btn-primary" type="submit" (click)="addVehicle(vehicleName.value);vehicleName.value = null">Add Vehicle</button>
		</div>
	</div>
	<br>
	<br>
	<br>

	<div class="col-md-4">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Vehicle Name</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let vehicle of (vehicles | async)">
					<td>{{vehicle.$value}}</td>
					<td><a class="editVehicle"><i (click)="EditModal.open()" class="edit fa fa-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Edit Vehicle" onmouseenter="$(this).tooltip('show')"></i></a></td>
					<td><a class="add" (click)="addService(vehicle)"><i class="add fa fa-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Add Vehicle Services" onmouseenter="$(this).tooltip('show')"></i></a></td>
					<td><a class="deleteVehicle"><i (click)="deleteVehicle(vehicle.$key)" class="delete fa fa-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Delete Vehicle" onmouseenter="$(this).tooltip('show')"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>

</form>

<modal #EditModal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">Edit Vehicle Name</h4>
	</modal-header>
	<form role="form">
		<div class="form-group">
			<label for="vehicle">Vehicle Name</label>
			<input type="user name" class="form-control flex" id="userName" placeholder="Vehicle name">
		</div>
	</form>

</modal>

<modal #LoginModal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">Please Log In</h4>
	</modal-header>
	<form role="form">
		<div class="form-group">
			<label for="email">Username</label>
			<input type="user name" class="form-control flex" id="userName" placeholder="Enter UserName" />
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Password" />
		</div>

	</form>


	<modal-footer>
		<input type="image" src="/googlelogin.png" alt="Submit" class="googleButton" align="left" (click)="LoginGoogle()" data-dismiss="modal"
		/>
	</modal-footer>
</modal>




<!--<div tabindex="-1" id="LoginModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<p>One fine body…</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>-->


<router-outlet></router-outlet>